@model ToDoAppMVC.Models.Item

<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
<h4>Created On: @Model.CreatedOn</h4>
<h4>Completed On: @Model.CompletedOn</h4>
<a href="/ToDoItems/Edit/@Model.ItemId">Edit</a>
