<!DOCTYPE html>
<html>
<head>
    <title>Mono ToDo List Asp.Net PostgresSql Application</title>
    <div id="header" class="half-split">
		<h2><a href="/">ToDoApp</a></h2>
    	<h3>PostgreSQL / Mono / Entity-Framework / Asp.Net MVC5</h3> 
    </div>
    <div id="links" class="half-split">
		<a href="/ToDoItems/Create">New Item</a>
    </div>
    <hr/>
    <hr/>
</head>
<body>
	@RenderBody()
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="~/Scripts/application.js" type="text/javascript"></script>
<script src="~/Scripts/style.css" type="text/css"></script>

