@model ToDoAppMVC.ViewModels.ToDoViewModel
@*{
	Layout = "/Views/Shared/_Layout.cshtml";
}*@
<div class='half-split'>
@foreach(var i in Model.Items)
{
	<h3 class='todo-title' data-id="@i.ItemId">
	@if(i.CompletedOn != null) {
		<img style='height:60px;' class='check-it' src='/Content/check.jpeg' />
	}
	@i.Name</h3>
}
</div>
<div id="InfoBlock" class='half-split'></div>
